.el-tabs__nav-scroll {
    padding: 0;
    display: flex;
    justify-content: space-evenly;
}

.el-tabs__item.is-active {
    color: rgb(221, 0, 27) !important;
}

.el-tabs__active-bar{
    background-color: rgb(221, 0, 27) !important;
}
.el-tabs__item:hover{
    color: rgb(221, 0, 27) !important;
}
.el-input__inner{
    height: 30px !important;
    width: 90% !important;
    border-radius: 20px !important;
    background-color: rgb(235, 236, 236) !important;
    border: 0 !important;
    outline: none !important;
}
.el-input__inner:focus{
    border: 0 !important;
    outline: none !important;
}
.el-tabs__header,.is-top{
    margin-bottom: 0 !important;
}

.el-input{
    display: flex !important;
    justify-content: center !important;
}